.graph {
  transform: rotateX(-57deg);
}

.axis {
 font-family: 'Roboto Mono', monospace;
 font-size: 20px;
}

.y-axis {
 font-family: 'Roboto Mono', monospace;
 font-size: 20px;
}

.graph-icon {
  padding: 30px;
  width: 200px;
  pointer-events: auto;
  cursor: pointer;
}

.radar-chart {
  position: absolute;
  top: -64px;
}

.barchart-annual-data {
  position: relative;
  top: 380px;
  left: 277px;
}
// .chart-icon {
//   width: 100px;
//   height: 100px;
//   border: 5px #42f498 solid;
//   border-radius: 4px;
// }