.earth {
    position: absolute;
    left: 50%;
    top: 50%;
}

.earth:hover {
    animation-play-state: paused;
}

.cube div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 0.3px solid rgb(40,165,255);
    background: rgb(40,165,255);
    text-align: center;
    line-height: 120px;
    font-size: 100px;
    z-index: 16;
}

.face1 { 
    transform: translateZ(60px);
}
.face2 { 
    transform: rotateY(90deg) translateZ(60px); 
}
.face3 { 
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
}
.face5 { 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
}
.face6 { 
    transform: rotateX(-90deg) translateZ(60px); 
}

.cube {
    position: absolute;
    left: -60px;
    top: -60px;
    animation: spincube 42s linear infinite;
    transform-style: preserve-3d;
    transform-origin: 60px 60px 0;
}

@keyframes spincube {
    0%      { transform: rotateY(1deg) rotateZ(365deg); transform: rotateY(1deg) rotateZ(365deg); }
    100%      { transform: rotateY(1deg) rotateZ(-354deg); transform: rotateY(1deg) rotateZ(-354deg); }
}