.fireball-path {
  position: absolute;
  top: -130px;
  left: -130px;
  animation: pulsate 5s cubic-bezier(0.690, 0.340, 0.870, 0.600) forwards;
}

.fireball {
  height: 50px;
}


@keyframes pulsate {
  0% {
    transform: translateX(-30px) translateY(-30px) scaleX(1) scaleY(1) rotateX(-57deg);
    opacity: 0;
  }
  50% {
    transform: translateX(807px) translateY(770px) scaleX(1) scaleY(1) rotateX(-57deg);
    opacity: 1;
  }
  80% {
    transform: translateX(807px) translateY(770px) rotateX(-57deg) scaleX(5) scaleY(5);
  }
  100% {
    transform: translateX(807px) translateY(770px) scaleX(1) scaleY(1) rotateX(-57deg);
    opacity: 0;
  }
}