@import url("https://fonts.googleapis.com/css?family=Coustard");

$mars-orbit: 1400;
$moon-orbit: 280;
$neo-orbit: 700;

html, body {
    box-sizing: border-box;
    background-color: #4C4C4C;
    font-family: 'Coustard', sans-serif;
    overflow: hidden
}
*, *:before, *:after {
  box-sizing: inherit;
}

.earth-system {
    height: $mars-orbit + px;
    width: $mars-orbit + px;
    transform: rotateX(57deg);
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    margin-top: -240px;
    margin-bottom: -360px;
}


.orbit {
    border-radius: 50%;
    width: $mars-orbit + px;
    height: $mars-orbit + px;
    border: solid 2px #FF454E;
    margin-left: auto;
    margin-right: auto;
}

.moon-orbit {
  border-radius: 50%;
  position: absolute;
  left: (($mars-orbit/2) - ($moon-orbit/2)) + px;
  top: (($mars-orbit/2) - ($moon-orbit/2)) + px;
  width: $moon-orbit + px;
  height: $moon-orbit + px;
  border: solid 2px #FFF;
  margin-left: auto;
  margin-right: auto;
}

.moon {
    position: absolute;
    left: 125px;
    top: 115px;
    width: 30px;
    height: 50px;
    animation: rotate-moon 56.7s infinite linear;
    cursor: pointer;
}

.mars {
    position: absolute;
    width: 50px;
    height: 90px;
    left: (($mars-orbit/2) - 25) + px;
    top: (($mars-orbit/2) - 45) + px;
    animation: rotate 22s infinite linear;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.mars:hover {
  animation-play-state: paused;
}

.moon:hover {
  animation-play-state: paused;
}

.neo:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) translateX(($mars-orbit / 2) + px) rotateZ(0deg) rotateX(0deg);
  }

  100% {
    transform: rotateZ(360deg) translateX(($mars-orbit / 2) + px) rotateZ(-360deg) rotateX(0deg);
  }
}
@keyframes rotate-moon {
  0% {
    transform: rotateZ(0deg) translateX(($moon-orbit / 2) + px) rotateZ(0deg) rotateX(0deg);
    z-index: 1400;
  }

  100% {
    transform: rotateZ(360deg) translateX(($moon-orbit / 2) + px) rotateZ(-360deg) rotateX(0deg);
    z-index: 1400;
  }
}
