h1 {
  font-weight: normal;
  font-size: 22px;
}

section {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: Helvetica;
  background-color: #4C4C4C;
}

$distance-orbit: 1400px;

.earth-system {
    transform: rotateX(57deg);
    transform-style: preserve-3d;
}

.orbit {
    border-radius: 50%;
    width: $distance-orbit;
    height: $distance-orbit;
    position: relative;
    border: solid 2px #ccc;
}

.earth {
    position: absolute;
    transform: rotateX(-57deg);
    width: 20%;
    height:35%;
    left: 260px;
    top: 230px;
    animation: earth-wobble 1s infinite linear;
    animation-direction: alternate;
}

.moon-orbit {
    border-radius: 50%;
    width: 700px;
    height: 700px;
    position: relative;
    left: 330px;
    top: 310px;
    border: solid 2px #ccc;
}

.moon {
    width: 30px;
    height: 50px;
    position: absolute;
    top: inherit;
    left: inherit;
    animation: rotate-moon 8s infinite linear;
}

.mars {
    width: 50px;
    height: 90px;
    position: absolute;
    top: 680px;
    left: 670px;
    animation: rotate 12s infinite linear;
}

.mars:hover {
    animation-play-state: paused;
}

.earth:hover {
    animation-play-state: paused;
}

.moon:hover {
    animation-play-state: paused;
}

// calling this animation rotate must be different for each object
@keyframes rotate {
    0% {
        transform: rotateZ(0deg) translateX(calc( #{$distance-orbit} / 2)) rotateZ(0deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(calc( #{$distance-orbit} / 2)) rotateZ(-360deg) rotateX(0deg);
    }
}

@keyframes rotate-moon {
    0% {
        transform: rotateZ(0deg) translateX(343px) rotateZ(0deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(343px) rotateZ(-360deg) rotateX(0deg);
    }
}

@keyframes earth-wobble {
    0% {
        transform: translateY(-15px) rotateX(0deg);
    }
    100% {
        transform: translateY(15px) rotateX(0deg);
    }
}


.shadow {
  height: 40px;
  border-radius: 100%;
  width: 70px;
  position: absolute;
  opacity: 0.6;
  box-shadow: 0px 200px 10px black;
  z-index: 0;
  animation: earth-shadow 1s infinite linear;
  animation-direction: alternate;
}

@keyframes earth-shadow {
    0% {
        width:45px;
        height:45px;
        left:320px;
        top:300px;
    }
    100% {
        width:50px;
        height: 50px;
        left: 320px;
        top: 300px;
    }
}

svg:hover path {
    fill: red;
}