.line-bar-container {
  position: absolute;
  top: 180px;
  left: -112px;
}

.infoText-line-bar {
  font-size: 2.3em;
  position: absolute;
  top: 100px;
  left: -135px;
}

.line-bar-initial {
  fill: #FFF;
}

.line-bar-dino {
  fill: #FFF;
}

.line-bar-asteroid {
  position: absolute;
  top: 15px;
}
.line-bar-image {
  position: absolute;
  top: 100px;
}
