.line-bar-container {
  position: absolute;
  top: 410px;
  left: 20px;
}

.line-bar-initial {
  fill: #FFF;
}

.line-bar-dino {
  fill: #F00;
}
.line-bar-large {
  fill: #F00;
}
.line-bar-mt {
  fill: blue;
}
.line-bar-fat {
  fill: #F00;
}
