.neo-orbit {
    border-radius: 50%;
    width: 700px;
    height: 700px;
    border: solid 2px #ccc;
    margin-left: auto;
    margin-right: auto;
}

.neo {
    width: 30px;
    height: 50px;
    animation: rotate-neo 15s infinite linear;
    margin-left: auto;
    margin-right: auto;
}

.neo:hover {
    animation-play-state: paused;
}

@keyframes rotate-neo {
    0% {
        transform: rotateZ(0deg) translateX(343px) rotateZ(0deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(343px) rotateZ(-360deg) rotateX(0deg);
    }
}
