/* Made from http://danielstern.ca/range.css/?ref=css-tricks#/ */

.range-slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.range-slider-date {
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
}

.range-slider-months li {
  float:left;
  padding: 0 38px;
}

input[type=range].slider {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 21.4px 0;

}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484a4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 45px;
  width: 14px;
  border-radius: 0px;
  background: rgba(255, 199, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -19.95px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #54575a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484a4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 45px;
  width: 14px;
  border-radius: 0px;
  background: rgba(255, 199, 95, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c3d40;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #484a4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 45px;
  width: 14px;
  border-radius: 0px;
  background: rgba(255, 199, 95, 0.93);
  cursor: pointer;
  height: 5.1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #484a4d;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #54575a;
}
